html,
body {
  padding: 0;
  margin: 0 auto;
  --fg: #010100;
  --bg: #f9f2e3;
  --cp: #78a3ff;

  background-color: #fefcf8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');





header {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-between;
  background: var(--bg);
  color: var(--fg);
  padding-right: 20px;
  padding-left: 20px;
}


footer, header {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*CSS for index.js*/

.block-body {
  display: flex;
  position: relative;
  width: 100%;
  margin: auto;
}

textarea {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: absolute;
}

input {
  border: 0.1 black solid;
}

input, textarea {
  padding: 1em;
  width: 100% !important;
  background-color: var(--bg);
}

.newLine {
  padding: 1em;
}

textarea,
.p-heights {
    box-sizing: border-box;
    color: var(--fg);
    min-height: 3em;
    line-height: 1.5em;
    margin: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.p-heights {
  visibility: hidden;
}

section h2 {
  /*allows highligh to just cover length of element*/
  display: inline-block;
}

a {
  color: var(--cp);
}

a:hover {
  text-decoration: underline;
}

/* section h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 4px;
  transform: translateX(-4px);
  border-radius: 3px;
  content: '';
  display: block;
  height: 30%;
  width: 100%;
  background: var(--cp);
  z-index: -1 !important;
} */


.cp {
  color: var(--cp);
}

/*Modal content*/

.option {
  font-size: 1.5em;
}


.modal {
  position: fixed;
  z-index: 5;
  background-color: var(--bg);
  opacity: 0.95;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-content {
  width: 300px;
  padding: 20px !important;
  margin: 0 auto;
  border: 1px solid black;
}


