@media (max-width: 751px) {
    .letterCard {
        rotate: (0deg);
    }
}
  
.letterCard {
    background: var(--bg);
    color: var(--fg);
    font-family: 'Handlee', cursive;
    max-width: 800px;
    width: calc(100% - 4em);
    margin: 0 auto;
    padding: 1em !important;
}
  
  
.template {
    border: 3.5px solid black;
    transform: rotate(-1deg);
}
  

    